# Python
__pycache__/
*.pyc


# Ambiente virtual
venv/
epi_scanner.log

# VSCode
.vscode/

#Capturas (prints do sistema)
captures/


criar_banco.py


#Js antigo da camera

CamCore/static/js/camera2.js


#Banco de dados
instance

#API original da CAMERA
capacete/app.py


.env